<div class="container my-5">

  <div class="mx-4 d-flex flex-column min-vh-100- justify-content-center col-sm-6 mx-sm-auto col-lg-3 gap-4 ">
    <div class="text-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
        class="bi bi-check-lg text-success" viewBox="0 0 16 16">
        <path
          d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
      </svg>
    </div>


    <p class="text-center display-6 fw-light">"Tu contraseña se ha cambiado correctamente"</p>

    <p class="d-block text-center text-muted small fw-light display-7">Ahora puedes iniciar sesión con tu nueva contraseña.</p>

    <button routerLink="/auth/login" type="submit" class="btn btn-lg btn-primary d-block shadow-sm">Iniciar sesión </button>

  </div>
</div>
