<div class="container my-5">
    <div class="mx-4 mx-sm-auto d-flex flex-column gap-4 justify-content-center col-sm-7 col-md-6 col-lg-3">
        <div class="text-center">
            <img src="../../../../assets/img/password.svg" alt="una chico pensando en una nueva contraseña"
                class="img-fluid" width="200" height="200">
        </div>

        <h1 class="text-center fs-2 fw-normal text-primary">Cambiar contaseña</h1>

        <form class="d-flex flex-column gap-4 needs-validation" novalidate [formGroup]="passwordForm"
        (ngSubmit)="onSubmit()">

            <div class="text-center">
                <span class="small text-danger" *ngIf="!expression">Las contraseñas no coinciden</span>
            </div>

            <div>
                <label for="new-password" class="form-label">Contraseña</label>
                <input type="text" id="new-password" class="form-control form-control-lg shadow-sm"
                    formControlName="newPassword">
                <span class="small text-danger"
                    *ngIf="passwordForm.get('newPassword')?.hasError('required') && passwordForm.get('newPassword')?.touched">
                    *Este campo es requerido
                </span>
                <span class="small text-danger"
                    *ngIf="passwordForm.get('newPassword')?.hasError('minlength') && passwordForm.get('newPassword')?.touched">
                    *La contraseña debe tener mínimo 15 caracteres
                </span>
                <span class="small text-danger"
                    *ngIf="passwordForm.get('newPassword')?.hasError('maxlength') && passwordForm.get('newPassword')?.touched">
                    *La contraseña debe tener máximo 40 caracteres
                </span>
                <span class="small text-danger"
                    *ngIf="passwordForm.get('newPassword')?.hasError('pattern') && passwordForm.get('newPassword')?.touched">
                    *La contraseña debe incluir una letra mayúscula, un número, carácter especial.</span>
            </div>

            <div>
                <label for="confirm-password" class="form-label">Confirmar contraseña</label>
                <input type="text" id="confirm-password" class="form-control form-control-lg shadow-sm"
                    formControlName="confirmPassword">
                <span class="small text-danger"
                    *ngIf="passwordForm.get('confirmPassword')?.hasError('required') && passwordForm.get('confirmPassword')?.touched">
                    *Este campo es requerido
                </span>
                <span class="small text-danger"
                    *ngIf="passwordForm.get('confirmPassword')?.hasError('minlength') && passwordForm.get('confirmPassword')?.touched">
                    *La contraseña debe tener mínimo 15 caracteres
                </span>
                <span class="small text-danger"
                    *ngIf="passwordForm.get('confirmPassword')?.hasError('maxlength') && passwordForm.get('confirmPassword')?.touched">
                    *La contraseña debe tener máximo 40 caracteres
                </span>
                <span class="small text-danger"
                    *ngIf="passwordForm.get('confirmPassword')?.hasError('pattern') && passwordForm.get('confirmPassword')?.touched">
                    *La contraseña debe incluir una letra mayúscula, un número, carácter especial.</span>
            </div>

            <div class="d-grid gap-4">
                <input type="submit" value="Guardar" class="btn btn-lg btn-primary shadow-sm" [disabled]="passwordForm.invalid">
                <a class="btn btn-lg btn-outline-secondary shadow-sm">Cancelar</a>
            </div>
        </form>
    </div>
</div>
