<div class="container my-5">
  <div class="mx-4 d-flex flex-column justify-content-center col-sm-6 mx-sm-auto col-lg-3 gap-4">
    <div class="text-center">
      <img src="../../../../assets/img/account-activated.svg"
        alt="sobre de un correo con un documento en su interior que contiene un ícono de OK" class="img-fluid"
        width="200">
    </div>

    <p class="text-center fs-5 fw-normal text-primary">Se ha activado correctamente tu cuenta. 😃
    </p>

    <button routerLink="/auth/login" type="button" class="btn btn-lg btn-primary d-block shadow-sm">Iniciar Sesión
    </button>

  </div>
</div>
