<div class="mx-auto w-100">
    <video class="video ratio ratio-1x1 ratio-lg-19x9 rounded-3 border border-primary" #video autoplay></video>
    <video class="video ratio ratio-1x1 ratio-lg-19x9 rounded-3 border border-primary d-none" #recordedVideo controls></video>
</div>


<div class="d-flex flex-column flex-sm-row justify-content-between align-items-center gap-4">
    <div>
        <span class="text-muted d-none" #info> <i class="bi bi-clock-history"></i> {{timer$|async}}
            segundo(s)</span>
    </div>

    <div>
        <button class="btn btn-primary btn-lg" *ngIf="!isRecording" (click)="startRecording()"><i
                class="bi bi-record-circle"></i> Empezar grabación</button>
        <button class="btn btn-outline-primary btn-lg" *ngIf="isRecording" (click)="stopRecording()"><i
                class="bi bi-stop-circle"></i> Terminar grabación</button>
    </div>
    <div>
      <div class="text-success small" *ngIf="videoSaved">
        El vídeo se guardó con exito, ya puedes regresar al formulario.
      </div>
    </div>
</div>
