<div class="container my-5">

  <div class="mx-4 d-flex flex-column min-vh-100- justify-content-center col-sm-6 mx-sm-auto col-lg-3 gap-4 ">
    <div class="text-center">
      <img src="../../../../assets/img/register-success.svg" alt="" srcset="">
    </div>


    <p class="text-center display-6 fw-light">Te has registrado exitosamente.</p>

    <p class="d-block text-center text-muted small fw-light display-7">Se ha enviado un correo electrónico a tu bandeja de entrada para activar tu cuenta.</p>

    <button routerLink="/auth/login" type="submit" class="btn btn-lg btn-primary d-block shadow-sm">Inicio de Sesión</button>

  </div>
</div>
